body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171723;
}



.header {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    font-weight: bolder;
    color: #a0aad0;
}

.todo-container {
    width: 50%;
    margin: 0 auto;
    background-color: #25273c;
    padding: 15px 0px;
    border-radius: 10px;
}

.todoitem {

    border-bottom: 1px solid #a0aad0;
    margin: 17px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 12px;
    
}

.todoitem-leftdiv {
    display: flex;
    align-items: center;
}

.todoitem-rightdiv {
    display: flex;
    align-items: center;
}

.todoform-div {

    
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #a0aad0;;

}
.todoform-div form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.todo-button{
    width: 17%;
    padding: 1vw;
    background-color: #25273c;
    color: #a0aad0;
    border: 1px solid #a0aad0;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.add-item-input{

    width: 70%;
    padding: 15px;
    background-color: #25273c;
    color: #a0aad0;
    border: 1px solid #a0aad0;
    border-radius: 6px;

}

.add-item-input::placeholder{
    color: #a0aad0;
    opacity: 0.6;
}
.todoitem-checkbox{
    
    background-color:red;
    color: black;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.todoitem-name{
    color: #a0aad0;
    font-size: 18px;
}
.fas{
    color: #a0aad0;
    background-color:#25273c ;
    margin: 0px 5px;
    padding: 0.5vw;
    border-radius: 3px;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
   
    .todo-container{
        width: 90%;
    }
  }


  